<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <!-- Form -->
            <form id="edit" class="signup-form" action="/edit" method="post">
                <div class="form-group mt-3">
                    <input type="text" name="userSurname" class="form-control" placeholder="Фамилия" >
                </div>
                <div class="form-group mt-3">
                    <input type="text" name="userName" class="form-control" placeholder="Имя" >
                </div>
                <div class="form-group mt-3">
                    <input type="text" name="patronymic" class="form-control" placeholder="Отчество" >
                </div>
<div class="form-group col-md-6">
                   </div>
                <div class="form-group mt-3">
                    <input type="password" name="password" class="form-control" placeholder="Пароль" >
                </div>
                <div class="form-group mt-3">
                    <input type="text" name="position" class="form-control" placeholder="Должность" >
                </div>
                <div class="form-group mt-3">
                    <input type="text" name="department" class="form-control" placeholder="Отдел" >
                </div>
                  <div class="form-group mt-3">
                    Дата начала работы
                </div>
                <div class="form-group mt-3">
                    <input type="date" name="dateStartWork" class="form-control" placeholder="Дата начала работы" >
                </div>

                <div class="text-center mt-3">
                    <button type="submitUpdate" class="btn btn-secondary">&nbsp; Сохранить изменения &nbsp;</button>
                <button type="submitDelete" class="btn btn-secondary">&nbsp; Удалить пользователя&nbsp;</button>
                </div>
            </form>
            <!-- Form end -->
        </div>
    </div>
</div>
