<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-10 col-lg-10">
      <h3>Войдите в аккаунт или зарегистрируйтесь.</h3>
      <p>______________________________________________________________</p>
    </div>
  </div>
</div>
